<form action="">
<fieldset>
    <legend>Tela de venda</legend>
    <label for="cliente">Cliente</label><br>
    <input type="text" [(ngModel)]="cliente" name="cliente" id="cliente"><br><br>

    <label for="produto">Produto</label><br>
    <input type="text" [(ngModel)]="produto" name="produto" id="produto"><br><br>

    <label for="quantidade">Quantidade</label><br>
    <span *ngIf="this.quantidade > 1">
    <input type="button" (click)="decrementar()" value="-">
    </span>
    <input type="text" [(ngModel)]="quantidade" name="quantidade" id="quantidade">
    <input type="button" (click)="incrementar()"  value="+"><br><br>

    <label for="valor">Valor</label><br>
    <input type="text" [(ngModel)]="valor" name="valor" id="valor"><br><br>

    <input type="button" (click)="mostrarRecibo()" value="Visualizar Recibo">

  </fieldset>
</form>

<span *ngIf="recibo">
  <fieldset>
    <p>*******************************************************</p>

  <h2>RECIBO DE VENDA</h2>

    <p>*******************************************************</p>

  <p>Cliente............................: {{ cliente }}</p>
  <p>Produto...........................: {{ produto }}</p>
  <p>Quantidade.....................: {{ quantidade }}x - R$ {{ valorTotal() }}</p>
  <hr>
  <p>Valor Total(R$)..............: {{ valorTotal() }}</p>
</fieldset>
</span>